/* Background */
[class^="message-"][class*="hasReply-"]:not(:has([class^="avatar-"][src*="user-id"])):has([class^="replyAvatar-"][src*="user-id"]) {
    background-color: var(--background-mentioned);
}
/* That little thing on the left of the message */
[class^="message-"][class*="hasReply-"]:not(:has([class^="avatar-"][src*="user-id"])):has([class^="replyAvatar-"][src*="user-id"])::before {
    background-color: var(--info-warning-foreground) !important;
    content: "";
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    bottom: 0;
    pointer-events: none;
    width: 2px;
}