[class^="chat_"]>[class*="subtitleContainer_"]>section[class^="title_"]:has([class^="icon_"]>path[d^="M18.09"]) [class^="titleWrapper_"]>[class*="title_"]::before,
[class^="containerDefault_"]:has([class^="icon_"]>path[d^="M18.09"]):not(:hover, [class*="selected_"]) [class^="linkTop_"]>[class^="children_"]::before {
    position: relative;
    content: "NSFW";
    background-color: var(--red-400);
    padding: 0 6px;
    color: var(--white-500);
    border-radius: 8px;
    font-family: var(--font-display);
    font-size: 12px;
    line-height: 16px;
    font-weight: 600;
    letter-spacing: .02em;
}