[class^="message_"] div[aria-label*="super" i]:has([class^="icon_"]),
[class^="reactButtons_"] > div[aria-label*="super" i],
[class^="reactionInner_"] [class^="effectsWrapper_"],
[class^="burstReactionTooltipPrompt_"],
[class^="burstEmojiSection_"],
[class*="colorPremiumGradient_"],
button[id="super-reaction-picker-tab"],
[class^="burstGlow_"] {
  display: none;
}
/* makes super reactions not disappear on hover */
[class*="hideEmoji_"] {
  opacity: 1;
}
/* removes stuff from emoji hover popup */
[class*="burstReactionTooltipSpacer_"] {
  border: none !important;
  padding: 0px;
  margin: 0px;
}
/* makes background color the same as normal reactions in "show reactions" tab*/
[class^="reactionSelected_"] {
  background: var(--background-tertiary) !important;
}
/* disables clicking */
[class^="reactionInner_"]:is([aria-label*=" super " i]) {
  pointer-events: none;
}
/* removes background color from super reactions */
[class^="reaction_"]:is(:has(> [class^="reactionInner_"]), [class^="reactionInner_"]):not([class*="reactionMe_"]) {
  background: var(--background-secondary) !important;
}
/* removes shake animation */
[class*="shakeReaction_"] {
  animation: none !important;
}