:root {
  --vc-circle-border-width: 3px; /* default: 2px */
}

[class^="list_"] [class^="voiceUser_"] [class^="usernameFont_"],
[class^="list_"] [class^="voiceUser_"] [class^="icons_"] {
  display: none;
}
[class^="list_"] [class^="voiceUser_"] [class^="userAvatar_"] {
  border: 3px solid var(--background-secondary);
}
[class^="list_"] [class*="voiceUser_"]>[class^="content_"],
[class^="list_"]>[class^="draggable_"]>[class*="voiceUser_"] {
  display: flex;
  justify-content: center;
  margin: -1px -4px -4px 0px;
  width: 24px;
  padding: 0px;
  background-color: transparent !important;
}
[class^="list_"]:has([class*="voiceUser_"]) {
  display: flex !important;
  flex-direction: row;
  flex-wrap: wrap;
}
/* red border on live users */
[class^="list_"]>div>[class^="voiceUser_"]:has(>div>div>div>div>[class^="live_"])>div>[class^="userAvatar_"] {
  box-shadow: inset 0 0 0 var(--vc-circle-border-width, 2px) var(--red-400),inset 0 0 0 calc(var(--vc-circle-border-width, 2px) + 1px) var(--background-secondary);
}
[class^="voiceUser_"]>[class^="content_"]>[class*="avatarSpeaking_"] {
  box-shadow: inset 0 0 0 var(--vc-circle-border-width, 2px) var(--green-360),inset 0 0 0 calc(var(--vc-circle-border-width, 2px) + 1px) var(--background-secondary) !important;
}
/* "live" tag */
[class^="containerDefault_"]:has([class*="voiceUser_"] [class^="live_"])>:not(:first-child:hover) [class^="linkTop_"]>[class^="children_"]::before {
  position: relative;
  content: "LIVE";
  background-color: var(--red-400);
  padding: 0 6px;
  color: var(--white-500);
  border-radius: 8px;
  font-family: var(--font-display);
  font-size: 12px;
  line-height: 16px;
  font-weight: 700;
  letter-spacing: .02em;
}
/* Move stream previews further to the right */
[class*="layer_"]:has(>[class^="animatorRight_"]>[class^="streamPreviewWrapper_"]) {
  margin-left: 6px;
}