.userPopoutInner-nv9Y92 {display: flex;justify-self: center !important;}
.userPopoutInner-nv9Y92 .avatarWrapper-eenWra {left: calc(50% - 40px);}
.userPopoutInner-nv9Y92 .bannerSVGWrapper-2CLfzN circle {cx: 50%;}
.userPopoutInner-nv9Y92 .profileBadges-2pItdR {align-self: center;justify-content: center;max-width: calc(100% - 40px);top: 50px;right: 0;}
.userPopoutInner-nv9Y92 .customStatus-19KW6v {display: flex;justify-content: center;}
.userPopoutOverlayBackground-3A0Pcz .markup-eYLPri .blockquoteContainer-3VtvI1 {justify-content: center;}
.userPopoutOverlayBackground-3A0Pcz {margin-top: 60px;text-align: center;}
.userPopoutOverlayBackground-3A0Pcz .section-28YDOf > h2,
.userPopoutOverlayBackground-3A0Pcz .section-28YDOf > div {justify-content: center;}
.note-1NN2aP > .textarea-_59yqs,
.messageInputContainer-24qqTx > .messageInput-1enlaJ {text-align: center;}
.userPopoutOverlayBackground-3A0Pcz .activity-3uaYny > .body-u1Y8uL {flex-direction: column;}
.userPopoutOverlayBackground-3A0Pcz .activity-3uaYny .headerContainer-1wJjOa {justify-content: center;}
.userPopoutOverlayBackground-3A0Pcz .activity-3uaYny .assets-3PQvAh {left: calc(50% - 20px);}
.userPopoutOverlayBackground-3A0Pcz .activity-3uaYny .content-tXPNDw {margin: 0;}