.message_ccca67.hasReply__602e2:not(:has(.avatar__08316[src*="user-id"])):has(.replyAvatar__4ba85[src*="user-id"]) {
    background-color: var(--background-mentioned);
}
.message_ccca67.hasReply__602e2:not(:has(.avatar__08316[src*="user-id"])):has(.replyAvatar__4ba85[src*="user-id"])::before {
    background-color: var(--info-warning-foreground) !important;
    content: "";
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    bottom: 0;
    pointer-events: none;
    width: 2px;
}